* {
    font-family: monospace;
}

form {
    display:inline-block;
}

p {
    display:inline-block;
}

.alert {
    width: 75%;
}
.alert-warning, .alert-primary, .alert-info{
    margin: auto;
}

.alert-heading {
    text-decoration: underline;
}

.list-group-item.list-group-item-secondary {
  width: 70%;
  display: inline-block;
  margin: auto;
}

#left_side{
    display: inline-block;
    margin-left: 12%;
    margin-right: auto;
}

#logout_group{
    display: inline-block;
    margin-left: auto;
    margin-right: 14%;
}

#guidelines *{
    text-align: left;
    width: 80%;
    margin: auto;
    font-family: sans-serif;
}

#guidelines p{
    font-size: 1.25rem;
}

#guidelines ol{
    margin: 15px auto;
}

#guidelines li::marker{
    font-weight: bold;
}

#guidelines li{
    margin: 5px auto;
    font-size: 1.25rem;
}

#guidelines h4{
    font-weight: bold;
}
