{% extends "layout.html" %}

{% block title %}
    Inloggning
{% endblock %}

{% block main %}

    <h2>Inloggning</h2>
    {% if failure %}
        <div class="alert alert-warning">
        <h5>Ogiltigt användarnamn! Se krav nedan</h5>
        </div>
        <br>
    {% endif %}
    <ul class="list-group">
        <li class="list-group-item list-group-item-secondary"> Endast små bokstäver, a-z (inget å, ä eller ö) </li>
        <li class="list-group-item list-group-item-secondary"> Inga mellanslag </li>
    </ul>
    <br>
    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Användarnamn" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Logga in</button>
    </form>
    </div>
{% endblock %}
